obj

bin

Bin

deploy

deploy/*

_ReSharper.*

*.csproj.user

*.resharper.user

*.resharper

*.suo

*.cache

*.vsmdi

*.testrunconfig

publish.xml

TestResults

~$*

log

src/DotNetMerchant.Harness/vendor/gems/*

.idea/

.idea/*
