#supply gateway test credentials in the following format
#
# gateway:
#      login:    theUser
#      password: thePassword
#      anything: theAnything
#
# you can use the credentials in a cucumber test feature that act "As a REST client"
#
# specifying 'Given the <blah> credentials' in the test feature will lookup the 'blah' key from the
# credentials.yml file and pass the child keys/values as url/post parameters. For example:
#
# you can also specify valid or invalid credit card details in the file to use in tests
#
#  -------------credentials.yml-------------------
#  AuthorizeNet:
#       credentials:
#          login:     joeypants
#          password:  casablanca6025
#       visa:
#            valid:
#                number: 4111111111111
#                month:  9
#                year:   2010
#                etc...

#  -------------sometest.feature------------------
#  In order to ...
#  As a REST client
#  I want to ...
#  Scenario: ...
#  Given the following parameters
#		| name         | value            |
#		| foo          | 100              |
#               | spam         | 9999             |
#  And the default credentials
#  And the default valid visa
#  When I post to the Thingy endpoint of the Stuff resource as xml
#  (etc...)
#
#
#  ----------------Resulting url------------------
#
#  http://localhost:3000/stuff/thingy.xml?login=joeypants&password=casablanca6025&foo=100&spam=9999
#

AuthorizeNet:
    credentials:
        login:    joeypants
        password: potato
    Mastercard:
        valid:
            number:     1234567890123456
            month:      8
            year:       2012
            first_name: santos l
            last_name:  halper

Default:
    credentials:
        login:    user
        password: password
    BogusCard:
        valid:
            number: 1
        invalid:
            number: 2
