#supply gateway test credentials in the following format
#
# gateway:
#      user: theUser
#      password: thePassword
#      anything: theAnything
#
# you can use the credentials in a cucumber test feature that act "As a REST client"
#
# specifying 'Given the <blah> credentials' in the test feature will lookup the 'blah' key from the
# credentials.yml file and pass the child keys/values as url/post parameters. For example:
#
#
#  -------------credentials.yml-------------------
#  AuthorizeNet:
#       user:      joeypants
#       password:  casablanca6025

#  -------------sometest.feature------------------
#  In order to ...
#  As a REST client
#  I want to ...
#  Scenario: ...
#  Given the following parameters
#		| name         | value            |
#		| foo          | 100              |
#       | spam         | 9999             |
#     And the default credentials
#  When I post to the Thingy endpoint of the Stuff resource as xml
#  (etc...)
#
#
#  ----------------Resulting url------------------
#
#  http://localhost:3000/stuff/thingy.xml?user=joeypants&password=casablanca6025&foo=100&spam=9999
#

AuthorizeNet:
    user:     joeypants
    password: potato

Default:
    user:     user
    password: password